.display-none {
    display: none;
}

.display-show {
    display: block;
}

.border-red{
    border:1px solid red;
}

.require-field{
    color: red;
    font-weight: bolder;
}

.avatar-icon-xl .avatar-icon {
    width: 100px;
    height: 100px;
}

.loader_container {
    position: absolute;
    background: rgba(0,0,0,0.2);
    width: 100%;
    height: 100vh;
    top:0;
    left:0;
    z-index: 1000;
}
.loader {
    position: absolute;
    top: 50%;
    left: 50%;
}

.toast_container {
    position: absolute;bottom:20;right:0;z-index:100;
}

.toast_container .toast {
    background-color: rgba(255,255,255,0.85);
}

.profile-update {
    color: #212529;
    background-color: #f7b924;
}
.table-create {
    color: #fff;
    background-color: #3ac47d;
}
.table-edit {
    color: #fff;
    background-color: #3f6ad8;
}
.table-erase {
    color: #fff;
    background-color: #d92550;
}